.sidenav-container {
  height: 100vh; /* Hauteur complète */
}

mat-sidenav {
  width: 250px; /* Largeur de la sidebar */
}

@media (max-width: 768px) {
  mat-sidenav {
    width: 200px;
  }

  mat-sidenav-content {
    margin-left: 0;
  }
}

.sidenav {
  width: 250px;
  background-color: #fafafa;
  padding: 0;
  a {
    display: flex;
    cursor: pointer;
    width: 100%;
  }
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  width: 100%;
  margin: 10px 0;
}

.menu-button,
.submenu-button {
  width: 100%;
  text-align: left;
}

.menu-item a {
  width: 100%;
  // text-decoration: none;
  color: black;
}

.mat-nav-list {
  padding-top: 20px;
}

.mat-nav-list a {
  text-decoration: none;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
  padding-left: 15px;
}

.class-0 > .mdc-button {
  background-color: #f28f8f !important; /* Exemple pour le premier niveau */
}

.class-1 > .mdc-button {
  background-color: #f2c94c !important; /* Exemple pour une autre classe */
}

/* Pour les autres niveaux */
.class-2 > .mdc-button {
  background-color: #6fcf97 !important;
}

.class-3 > .mdc-button {
  background-color: #56ccf2 !important;
}

.class-4 > .mdc-button {
  background-color: #ff6347 !important;
}

.class-5 > .mdc-button {
  background-color: #f28f8f !important; /* Exemple : couleur pour la 6e classe */
}

.mat-sidenav-content {
  padding: 20px;
}

.class-0 {
  border: 1px solid #f28f8f;
  padding: 4px;
  border-radius: 7px;
}

.class-1 {
  border: 1px solid #f2c94c;
  padding: 4px;
  border-radius: 7px;
}

.class-2 {
  border: 1px solid #6fcf97;
  padding: 4px;
  border-radius: 7px;
}

.class-3 {
  border: 1px solid #56ccf2;
  padding: 4px;
  border-radius: 7px;
}

.class-4 {
  border: 1px solid #ff6347;
  padding: 4px;
  border-radius: 7px;
}

.class-5 {
  border: 1px solid #f28f8f;
  padding: 4px;
  border-radius: 7px;
}

.class-6 {
  border: 1px solid #eee;
  padding: 4px;
  border-radius: 7px;
}
