.sidenav-container {
  height: 100vh; /* Hauteur complète */
}

mat-sidenav {
  width: 250px; /* Largeur de la sidebar */
}

mat-sidenav-content {
  margin-left: 250px; /* Décalage du contenu principal lorsque la sidebar est ouverte */
}

@media (max-width: 768px) {
  mat-sidenav {
    width: 200px;
  }

  mat-sidenav-content {
    margin-left: 0;
  }
}

/*.sidenav-container {
  height: 100%;
  display: flex;
  flex-direction: row;
}
*/
.sidenav {
  width: 250px;
  background-color: #fafafa;
  padding: 15px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  width: 100%;
  margin: 10px 0;
}

.menu-button,
.submenu-button {
  width: 100%;
  text-align: left;
}

.menu-item a {
  width: 100%;
  // text-decoration: none;
  color: black;
}

.mat-nav-list {
  padding-top: 20px;
}

.mat-nav-list a {
  text-decoration: none;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
  padding-left: 15px;
}

.class-0 .mdc-button {
  background-color: #f28f8f !important; /* Exemple pour le premier niveau */
}

.class-1 .mdc-button {
  background-color: #f2c94c !important; /* Exemple pour une autre classe */
}

/* Pour les autres niveaux */
.class-2 .mdc-button {
  background-color: #6fcf97 !important;
}

.class-3 .mdc-button {
  background-color: #56ccf2 !important;
}

.class-4 .mdc-button {
  background-color: #ff6347 !important;
}

.class-5 .mdc-button {
  background-color: #f28f8f !important; /* Exemple : couleur pour la 6e classe */
}

.mat-sidenav-content {
  padding: 20px;
}
