<!-- Toggle Button -->
<button mat-flat-button (click)="toggleSidebar()">Menu</button>

<!-- Sidebar Container with Angular Material -->
<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" [opened]="isSidebarOpen" class="sidenav">
    <mat-nav-list>
      <a mat-flat-button href="#" [routerLink]="['/']">Accueil</a>
    </mat-nav-list>

    <h2>Les Classes</h2>
    <h3>Primaire & Collège</h3>
    <ul class="menu">
      <ng-container *ngFor="let class of fullStructure; let i = index">
        <li class="menu-item" [ngClass]="'class-' + i">
          <ng-container *ngIf="class.children && class.children.length > 0">
            <button
              mat-flat-button
              [matBadge]="i === 0 ? 4 : null"
              matBadgeOverlap="false"
              class="menu-button"
              (click)="toggleMenu(class.id)"
            >
              {{ class.title }}
            </button>
            <ul *ngIf="isMenuOpen(class.id)" class="list-style-none">
              <ng-container *ngFor="let lesson of class.children">
                <li class="menu-item">
                  <ng-container
                    *ngIf="lesson.children && lesson.children.length > 0"
                  >
                    <button
                      mat-flat-button
                      class="submenu-button"
                      (click)="toggleMenu(lesson.id)"
                    >
                      {{ lesson.title }}
                    </button>
                    <ul *ngIf="isMenuOpen(lesson.id)" class="list-style-none">
                      <ng-container *ngFor="let category of lesson.children">
                        <li class="menu-item">
                          <ng-container
                            *ngIf="
                              category.children && category.children.length > 0
                            "
                          >
                            <!-- <button
                              mat-flat-button
                              (click)="toggleMenu(category.id)"
                            >
                              {{ category.title }}
                            </button> -->
                            <a (click)="toggleMenu(category.id)">
                              <b>{{ category.title }}</b>
                            </a>
                            <ul *ngIf="isMenuOpen(category.id)">
                              <ng-container
                                *ngFor="let sublesson of category.children"
                              >
                                <li>
                                  <a
                                    [routerLink]="[
                                      '/classes',
                                      class.id,
                                      'lesson',
                                      lesson.id,
                                      'category',
                                      category.id,
                                      'sublesson',
                                      sublesson.id
                                    ]"
                                  >
                                    {{ sublesson.title }}
                                  </a>
                                </li>
                              </ng-container>
                            </ul>
                          </ng-container>
                          <ng-container
                            *ngIf="
                              !(
                                category.children &&
                                category.children.length > 0
                              )
                            "
                          >
                            <a
                              [routerLink]="[
                                '/classes',
                                class.id,
                                'lesson',
                                lesson.id,
                                'category',
                                category.id
                              ]"
                            >
                              <b>{{ category.title }}</b>
                            </a>
                          </ng-container>
                        </li>
                      </ng-container>
                    </ul>
                  </ng-container>
                  <ng-container
                    *ngIf="!(lesson.children && lesson.children.length > 0)"
                  >
                    <a
                      mat-flat-button
                      [routerLink]="['/classes', class.id, 'lesson', lesson.id]"
                      >{{ lesson.title }}</a
                    >
                  </ng-container>
                </li>
              </ng-container>
            </ul>
          </ng-container>
          <ng-container *ngIf="!(class.children && class.children.length > 0)">
            <a mat-flat-button [routerLink]="['/classes', class.id]">
              {{ class.title }}
            </a>
          </ng-container>
        </li>
      </ng-container>
    </ul>

    <!-- Additional Links -->
    <h2>Mon espace</h2>

    <mat-nav-list>
      <a mat-flat-button href="#" [routerLink]="['/section-exercice-form']"
        >Ajouter une section</a
      >
      <a mat-flat-button href="#" [routerLink]="['/my-space/sections']"
        >Gérer les sections</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <div *ngIf="isLoading" class="loading-container">
      <mat-spinner></mat-spinner>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
