@import "~bootstrap/dist/css/bootstrap.min.css";
@import "@angular/material/prebuilt-themes/indigo-pink.css";
.nav-menu {
  li {
    a {
      font-weight: bold;
      text-decoration: none;
      color: blueviolet;
      &[aria-disabled="true"] {
        opacity: 0.4;
        pointer-events: none;
      }
    }
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
