@import "@angular/material/prebuilt-themes/indigo-pink.css";
html {
  overflow: hidden;
}

.nav-menu {
  li {
    a {
      font-weight: bold;
      text-decoration: none;
      color: blueviolet;
      &[aria-disabled="true"] {
        opacity: 0.4;
        pointer-events: none;
      }
    }
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.grid-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.item-class {
  border: 2px solid #ff4081;
  padding: 10px;
}

/**
* Material
**/
mat-sidenav-container {
  padding-bottom: 100px !important;
}
