@import "@angular/material/prebuilt-themes/indigo-pink.css";
html {
  overflow: hidden;
}

.nav-menu {
  li {
    a {
      font-weight: bold;
      text-decoration: none;
      color: blueviolet;
      &[aria-disabled="true"] {
        opacity: 0.4;
        pointer-events: none;
      }
    }
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.grid-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.item-class {
  border: 2px solid #ff4081;
  padding: 10px;
}

/**
* Material
**/
mat-sidenav-container {
  padding-bottom: 100px !important;
}

mat-sidenav {
  height: 100%;
  overflow: hidden;
  padding: 0;
  .mat-drawer-inner-container {
    width: 100%;
    padding: 20px 30px 50px 20px;
    box-sizing: border-box;
  }
}

.list-style-none {
  list-style: none;
}

.loading-container {
  position: fixed;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}
